
body{margin:0; padding: 0;} /* body normalization */

/* 12 column grid style */
.col-1{
	width:8.33%;
	height:40px;
}
.col-2{
	width:16.66%;
	height:40px;
}
.col-3{
	width:25%;
	height:40px;	
}
.col-4{
	width:33.33% ;
	height:40px;
}

.col-5{
	width:41.55%;
	height:40px;
}
.col-6{
	width:50%;
	height:40px;
}
.col-7{
	width:58.33%;
	height:40px;
}
.col-8{
	width:66.66%;
	height:40px;
}
.col-9{
	width:75%;
	height:40px;
}
.col-10{
	width:83.33%;
	height:40px;
}
.col-11{
	width:91.66%;
	height:40px;
}
.col-12{
	width:100%;
	height:40px;
}

[class*='col-']{
	float:left;
	border:5px solid #ebebeb;
	box-sizing: border-box;

}

.row:after{
	content:"";
	display:block;
	clear: both;
}
/* Layout style */

.header_height{
	height:200px;

}
.menu_height{
	height:80px;
	background-color: #34495e; 
	
}
.content_height{
	height:200px;
	background-color:#9b59b6;
	
}
.section_height{
	height:100px;
	background-color: #16a085;
	
}
.main-content_height{
	height:400px;
	background-color: #e74c3c;
	
}
.footer_height{
	height:80px;
	background-color: #bdc3c7;
	
}

.wrapper{
	width:80%;
	height:auto;
	margin: auto;
}

/* mobile device support */

	@media all and ( max-width:920px ) {
		body{
			background: #ebebeb;
		}
		.wrapper{
			width:95%;
		}
		.content_height_half{
			width:100%;
			background: #bdc3c7;
		}
		.content_height_double{
			width: 50%;
		}
	}

	@media all and ( max-width:768px ) {
		[class*='col-']{
			width:100%;
			background: #2ecc71;
		}
		.wrapper{
			width:95%;
		}
	}
